.catalog_title {
    background-color: #F3F3F7;
    padding: 0.5%;
    margin: 1% 1% 0.5% 1%;
    text-align: center;
    border-radius: 5px;
}

.catalog {
    display: grid;
    grid-template-columns: 15% 85%;
    margin: 1% 1% 1% 1%;
    border-radius: 5px;
}

.categories {
    background-color: #F3F3F7;
    border-radius: 5px;
    height: 33.5em;
}

.categories h3 {
    text-align: center;
    padding-bottom: 5%;
}

.categories_content a:hover {
    background-color: white;
}

.categories_content a {
    padding: 5%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
}

.category img {
    width: 14%;
}

.product_list {
    border-radius: 5px;
    margin-left: 1%;
    background-color: #F3F3F7;
    text-align: center;
    overflow-y: scroll;
    height: 33.5em;
}

.prods {
    background-color: white;
    margin: 1.7%;
    padding-top: 1.8%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30% 55% 15%;
}

.buy_product {
    background-color: #546973;
    color: white;
    text-decoration: none;
    display: block;
    width: 50%;
    height: 30%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 6%;
    margin-top: 20%;
}

.buy_product:hover {
    background-color: #758688;
}

.product_image img {
    width: 31%;
}

.product_image {
    padding-bottom: 5%;
}

.product_name {
    color: #546973;
    font-size: 140%;
    font-weight: bold;
}

.product_price {
    font-weight: bold;
    margin-top: 3%;
    font-size: 110%;
}