body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F9F9FB;
    color: #333;
}

.navbar {
    border-bottom: 1px solid grey;
}

.catalog_title {
    background-color: #F3F3F7;
    margin: 20px;
    padding: 15px 10px 10px 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.catalog {
    margin: 1%;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 5px;
    gap: 15px;
}

.categories {
    background-color: #F3F3F7;
    border-radius: 5px;
    padding: 20px;
}

.category:hover {
    color: black;
}

.categories h3 {
    text-align: center;
    padding-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #546973;
}

.categories_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categories_content a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.categories_content a img {
    width: 55px;
    height: 55px;
    object-fit: contain;
}

.categories_content a:hover {
    background-color: #e8e8ec;
    transform: scale(1.02);
}

.category p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.product_list {
    margin-right: 1%;
    background-color: #F3F3F7;
    border-radius: 5px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    overflow-y: auto;
    height: 700px;
    max-height: 700px;
}

.product_content {
    text-align: center;
}

.prods {
    background-color: white;
    border-radius: 5px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.product_image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product_name {
    color: #546973;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.product_name:hover {
    color: #546973;
}

.product_price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.buy_product {
    background-color: #546973;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: auto;
    transition: background-color 0.3s ease;
}

.buy_product:hover {
    background-color: #758688;
    color: white;
}

@media (min-width: 768px) {
    .catalog {
        grid-template-columns: 25% 75%;
    }

    .categories_content {
        gap: 15px;
    }
}

@media (min-width: 1200px) {
    .product_list {
        grid-template-columns: repeat(4, 1fr);
    }
}
