* {
    margin: 0;
    font: Arial;
    font-family: sans-serif;
}
header {
    background-color: grey;
    position: grid;
    height: 5em;
    color: white;
    padding: 0.5%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.store_logo img {
    position: absolute;
    width: 20%;
    top: 2%;
    left: 1%;
}
.store_catalog {
    text-decoration: none;
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 2.5%;
    left: 25%;
    font-size: 125%;
    color: black;
    padding: 0.5%;
}
.user_basket img {
    width: 3%;
    position: absolute;
    top: 2.5%;
    right: 6.5%;
}
.store_account img {
    width: 3%;
    position: absolute;
    top: 2.5%;
    right: 2%;
}
main {
    background-color: white;
}
.greeting {
    padding-top: 2%;
    margin: 1% 2% 1% 2%;
    display: grid;
    grid-template-columns: 40% 60%;
}
.features_title {
    background-color: #CCCCCC;
    text-align: center;
    margin-top: 3.5em;
    height: 5em;
    display: grid;
    place-items: center;
    height: 8em;
    color: black;
}
.features {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    text-align: center;
}
.feature_block {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 4%;
    margin: 8%;
    transition: 0.8s;
}
.feature_block img {
    width: 50%;
}
.feature_block:hover {
    transform: scale(1.1);
}
footer {
    background-color: #CCCCCC;
    padding: 2%;
    font-size: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}
.login {
    width: 100%;
    height: 100%;
    background-color: #CCCCCC;
    text-align: center;
    position: absolute;
}
.login img {
    width: 25%;
}
.login_content {
    position: absolute;
    top: 25%;
}
.greeting_title {
    padding: 25% 5% 5% 5%;
    text-align: center;
}
#loginButton {
    text-decoration: none;
    border: 1px solid grey;
    background-color: white;
    position: absolute;
    left: 45%;
    color: black;
    width: 10%;
    height: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.loginButton a {
    text-decoration: none;
}
#loginButton:hover {
    transform: scale(1.05);
}
.register {
    width: 100%;
    height: 100%;
    background-color: #CCCCCC;
    text-align: center;
    position: absolute;
}
.register img {
    width: 25%;
}
.register_content {
    position: absolute;
    top: 15%;
}
#registerButton {
    text-decoration: none;
    border: 1px solid grey;
    background-color: white;
    position: absolute;
    left: 45%;
    color: black;
    width: 10%;
    height: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.registerButton a {
    text-decoration: none;
}
#registerButton:hover {
    transform: scale(1.05);
}