@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}
header {
    background-color: #6F8081;
    position: grid;
    height: 5em;
    color: white;
    padding: 0.5%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.store_logo img {
    position: absolute;
    width: 20%;
    top: 2%;
    left: 1%;
}
.store_catalog {
    text-decoration: none;
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    top: 2.6%;
    left: 25%;
    font-size: 125%;
    color: black;
    padding: 0.5%;
}
.store_catalog:hover {
    background-color: #FFFFD7;
}
.user_basket img {
    width: 3%;
    position: absolute;
    top: 2.5%;
    right: 6.5%;
}
.store_account img {
    width: 3%;
    position: absolute;
    top: 2.5%;
    right: 2%;
}
.favorites img {
    width: 3%;
    position: absolute;
    top: 2.5%;
    right: 11%;
}
main {
    background-color: white;
}
.greeting {
    padding-top: 2%;
    margin: 1% 2% 1% 2%;
    display: grid;
    grid-template-columns: 40% 60%;
}
.features_title {
    background-color: #ECECEC;
    text-align: center;
    margin-top: 3.5em;
    height: 5em;
    display: grid;
    place-items: center;
    height: 5em;
    color: #004242;
}
.features {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    text-align: center;
    background-color: #ECECEC;
    padding: 0 3% 3% 3%;

}
.feature_block {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 4%;
    margin: 8%;
    transition: 0.8s;
}
.feature_block img {
    width: 50%;
}
.feature_block:hover {
    transform: scale(1.1);
}
footer {
    background-color: #CCCCCC;
    padding: 2%;
    font-size: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}
.login {
    width: 100%;
    height: 100%;
    background-color: #DCDCDC;
    text-align: center;
    position: absolute;
}
.login img {
    width: 25%;
}
.login_content {
    position: absolute;
    top: 20%;
    background-color: #DCDCDC;
    border-radius: 10px;
    padding: 1%;
}
.greeting_title {
    padding: 25% 5% 5% 5%;
    text-align: center;
}
#loginButton {
    text-decoration: none;
    border: 1px solid grey;
    background-color: white;
    position: absolute;
    left: 45%;
    color: black;
    width: 10%;
    height: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 5px;
}
.loginButton a {
    text-decoration: none;
}
#loginButton:hover {
    transform: scale(1.05);
}
.login_place {
    text-align: center;
}
.login_place input {
    width: 15em;
    height: 2em;
    border-radius: 5px;
    border-style: none;
}
.login_place input::placeholder {
    text-align: center;
}
.register_place {
    text-align: center;
}
.register_columns {
    display: grid;
    grid-template-columns: 28% 22% 22% 28%;
}
.register_place input {
    width: 20em;
    height: 2em;
    border-radius: 5px;
    border-style: none;
}
.register_place input::placeholder {
    text-align: center;
}
.register {
    width: 100%;
    height: 100%;
    background-color: #DCDCDC;
    text-align: center;
    position: absolute;
}
.register img {
    width: 25%;
}
.register_content {
    position: absolute;
    top: 15%;
}
#registerButton {
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid grey;
    background-color: white;
    position: absolute;
    left: 45%;
    color: black;
    width: 10%;
    height: 9%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.registerButton a {
    text-decoration: none;
}
#registerButton:hover {
    transform: scale(1.05);
}
.description {
    background-color: #838996;
    text-align: center;
    display: grid;
    grid-template-columns: 47% 6% 47%;
    padding: 5%;
    color: white;
}
.official {
    padding: 3%;
}
.catalog_title {
    background-color: #F3F3F7;
    padding: 0.5%;
    margin: 1% 1% 0.5% 1%;
    text-align: center;
    border-radius: 5px;
}
.catalog {
    display: grid;
    grid-template-columns: 15% 85%;
    margin: 1% 1% 1% 1%;
    border-radius: 5px;
}
.categories {
    background-color: #F3F3F7;
    border-radius: 5px;
}
.categories h3 {
    text-align: center;
    padding-bottom: 5%;
    border-bottom: 1px solid grey;
}
.categories_content a:hover {
    background-color: white;
}
.categories_content a {
    padding: 5%;
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
}
.product_list {
    border-radius: 5px;
    margin-left: 1%;
    background-color: #F3F3F7;
    text-align: center;
}
.prods {
    background-color: white;
    margin: 1.7%;
    padding: 1%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 30% 55% 15%;
}
.buy_product {
    background-color: #6F8081;
    color: white;
    text-decoration: none;
    display: block;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1%;
}
.product_image img {
    width: 35%;
    margin-top: 1%;
}
.product_menu img {
    width: 25%;
}