<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="store_logo">
            <a class="logo" th:href="@{/}"><img src="images/logo.png" alt="main_logo_image"></a>
        </div>
        <div class="store_account">
            <a href="/login" title="Авторизация"><img src="images/user_default_image.png" alt="user_basket"></a>
        </div>
    </header>
    <main>
    </main>
</body>
</html>