<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="store_logo">
            <a class="logo" th:href="@{/}"><img src="images/logo.png" alt="main_logo_image"></a>
        </div>
        <div class="store_account">
            <a href="/login" title="Авторизация"><img src="images/user_default_image.png" alt="user_basket"></a>
        </div>
    </header>
    <main>
        <div class="catalog_title"><h2>Каталог товаров</h2></div>
        <div class="catalog">
            <div class="categories">
                <br><h3>Категории:</h3>
                <div class="categories_content">
                    <a class="category" href="#">
                        <img src="images/category_images/all.png" alt="category_image">
                        <p>Все товары</p>
                    </a>
                    <div th:each="ctg : ${categoryData}">
                        <a class="category" href="#">
                            <img th:src="${ctg.imageLink}" alt="category_image">
                            <p th:text="${ctg.name}"></p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="product_list" id="productListContainer">
                
            </div>
        </div>
    </main>
    <script src="js/catalog.js"></script>
</body>
</html>