<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/slideshow.css">
    <script src="js/slideshow.js"></script>
</head>
<body>
    <header>
        <div class="store_logo">
            <a class="logo" th:href="@{/}"><img src="images/logo.png" alt="main_logo_image"></a>
        </div>
        <a th:href="@{/catalog}" class="store_catalog">
            <h4><span>&#9776;</span>Каталог</h4>
        </a>
        <div class="store_account">
            <a href="/login" title="Авторизация"><img src="images/user_default_image.png" alt="user_basket"></a>
        </div>
    </header>
    <main>
        <div class="greeting">
            <div class="greeting_title">
                <h2>Zenith SPPS - это система оперативно-календарного планирования и диспетчерского контроля</h2><br>
                <p><p>Управление и оптимизация производственной деятельности в
                    режиме реального времени. Планирование, отслеживание и документация
                    производственных процессов от начала выполнения заказа до выпуска готовой продукции.</p>
                <br></p>
            </div>
            <div class="greeting_slideshow">
                <div class="slideshow-container">
                    <div class="Slides fade">
                        <img src="images/slideshow1.png" alt="slide1" style="width:100%" class="img_sld">
                    </div>
                    <div class="Slides fade">
                        <img src="images/slideshow2.png" alt="slide2" style="width:100%" class="img_sld">
                    </div>
                    <div class="Slides fade">
                        <img src="images/slideshow3.png" alt="slide3" style="width:100%" class="img_sld">
                    </div>
                </div>
                <br>
                <div style="text-align:center">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
        <div class="description1">
            <div>
                <p>Разработка системы ведётся с 1996 года. К настоящему времени Zenith SPPS 
                    стала одной из наиболее проработанных и доступных систем в своем классе. 
                    Она способна работать как в составе информационной системы предприятия, так 
                    и полностью автономно. Основное инновационное достоинство системы заключается 
                    в том, что эффективные механизмы производственного диспетчирования в ней органично 
                    сочетаются с общепринятыми инструментами бизнес-приложения.</p>
            </div>
            <div></div>
            <div>
                Основное инновационное достоинство системы заключается в том, что эффективные механизмы 
                диспетчеризации производства в ней органично сочетаются с общепринятыми инструментами 
                бизнес-приложения. Интерфейс и справочная документация спроектированы так, чтобы конечный 
                пользователь мог максимально быстро сконцентрироваться на решаемой профессиональной задаче, не 
                отвлекаясь на программные особенности системы.
            </div>
        </div>
        <div class="features_title">
            <h3>Полнофункциональный комплекс компьютерных программ обеспечивает:</h3>
        </div>
        <div class="features">
                <div class="feature_block">
                    <img src="images/planning.png" alt="planning_image"><br><br>
                    <p>Оперативно-календарное планирование</p>
                </div>
                <div class="feature_block">
                    <img src="images/worker.png" alt="worker_image"><br><br>
                    <p>Диспетчерский контроль</p>
                </div>
                <div class="feature_block">
                    <img src="images/controlling.png" alt="controlling_image"><br><br>
                    <p>Комплексное управление производством</p>
                </div>
                <div class="feature_block">
                    <img src="images/document.png" alt="document_image"><br><br>
                    <p>Автоматизированный документооборот</p>
                </div>
            </div>
            <div class="description2">
                <ul>
                    <li>
                        <p>
                            MES-система Zenith SPPS - одна из наиболее проработанных и доступных систем класса MES, 
                            которая может стать как хорошим расширением ERP-системы предприятия, так и работать 
                            самостоятельно. Принцип функционирования системы заключается в планировании мощностей 
                            и непрерывной поддержке производственного расписания на основе данных о состоянии и 
                            загрузке оборудования (станки, инструментальные средства и т.п.) и наличия ресурсов 
                            в каждый момент времени.
                        </p>
                    </li>
                    <li>
                        <p>
                            MES-система Zenith SPPS интегрирует в единое целое оперативное 
                            календарное планирование (расчёт, коррекцию и компьютерную поддержку производственных 
                            графиков) и диспетчерский контроль за движением и наличием комплектующих от формирования 
                            заказа до выпуска готовой продукции. Система может получать данные из модулей 
                            автоматизированной технологической подготовки производства; поддерживается настраиваемый 
                            ввод всех необходимых данных. Результаты работы системы могут быть сохранены в файлах 
                            различных форматов (XLS, HTML, XML и др.) и служить исходными данными для других 
                            бизнес-приложений.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="official">
                <p>Получить подробную информацию о Zenith SPPS от разработчика или попробовать демо-версию можно на нашем <span><a href="http://www.zspps.ru/">основном 
                        веб-ресурсе</a></span>.</p>
            </div>
    </main>
    <footer>
        <div>
            <p><b>vysochin@mail.ru</b></p>
            <p><b>cybersobic@gmail.com</b></p>
        </div>
        <div>
            <h4>Разработчик программного обеспечения:</h4>
            <p>Высочин Сергей Владимирович</p>
        </div>
        <div>
            <h4>Разработчик веб-ресурса:</h4>
            <p>Соболев Сергей Сергеевич</p>
        </div>
    </footer>
</body>
</html>