<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/slideshow.css">
    <script src="js/main.js"></script>
    <script src="js/slideshow.js"></script>
</head>
<body>
    <header>
        <div class="store_logo">
            <a class="logo" th:href="@{/}"><img src="images/logo.png" alt="main_logo_image"></a>
        </div>
        <a href="#" class="store_catalog">
            <h4><span>&#9776;</span>Каталог</h4>
        </a>
        <div class="user_basket">
            <a href="#" title="Корзина"><img src="images/basket_image.png" alt="user_basket"></a>
        </div>
        <div class="store_account">
            <a href="/login" title="Авторизация"><img src="images/user_default_image.png" alt="user_basket"></a>
        </div>
    </header>
    <main>
        <div class="greeting">
            <div class="greeting_title">
                <h2>Zenith SPPS - это система оперативно-календарного планирования и диспетчерского контроля</h2><br>
                <p><p>Управление и оптимизация производственной деятельности в
                    режиме реального времени. Планирование, отслеживание и документация
                    производственных процессов от начала выполнения заказа до выпуска готовой продукции.</p>
                <br></p>
            </div>
            <div class="greeting_slideshow">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <img src="images/slideshow1.png" alt="slide1" style="width:100%" class="img_sld">
                    </div>
                    <div class="mySlides fade">
                        <img src="images/slideshow2.png" alt="slide2" style="width:100%" class="img_sld">
                    </div>
                    <div class="mySlides fade">
                        <img src="images/slideshow3.png" alt="slide3" style="width:100%" class="img_sld">
                    </div>
                </div>
                <br>
                <div style="text-align:center">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
        <div class="features_title">
            <h4>Полнофункциональный комплекс компьютерных программ обеспечивает:</h4>
        </div>
        <div class="features">
                <div class="feature_block">
                    <img src="images/planning.png" alt="planning_image"><br><br>
                    <p>Оперативно-календарное планирование</p>
                </div>
                <div class="feature_block">
                    <img src="images/worker.png" alt="worker_image"><br><br>
                    <p>Диспетчерский контроль</p>
                </div>
                <div class="feature_block">
                    <img src="images/controlling.png" alt="controlling_image"><br><br>
                    <p>Комплексное управление производством</p>
                </div>
                <div class="feature_block">
                    <img src="images/document.png" alt="document_image"><br><br>
                    <p>Автоматизированный документооборот</p>
                </div>
            </div>
    </main>
    <footer>
        <div>
            <p><b>vysochin@mail.ru</b></p>
            <p><b>cybersobic@gmail.com</b></p>
        </div>
        <div>
            <h4>Разработчик ПО:</h4>
            <p>Высочин Сергей Владимирович</p>
        </div>
        <div>
            <h4>Разработчик веб-ресурса:</h4>
            <p>Соболев Сергей Сергеевич</p>
        </div>
    </footer>
</body>
</html>