<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="login">
        <div class="login_content">
            <a id="login_logo" th:href="@{/}"><img src="images/logo.png" alt="logo_image"></a><br><br>
            <h2>Авторизация:</h2>
            <br>
            <form action="/login" method="post">
                <div class="login_place">
                    <p><input type="text" id="l_login" name="login" placeholder="Логин"></p><br>
                    <p><input type="password" id="l_password" name="password" placeholder="Пароль"></p>
                </div>
                <br><br>
                <button type="submit" id="loginButton">Войти</button>
            </form>
            <br><br><br><br><br>
            <p>Впервые на нашем сайте? <a th:href="@{/register}">Создайте аккаунт</a>.</p>
        </div>
    </div>
</body>
</html>