<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="register">
        <div class="register_content">
            <a id="register_logo" th:href="@{/}"><img src="images/logo.png" alt="logo_image"></a><br><br>
            <h2>Регистрация:</h2>
            <br>
            <form action="/register" method="post">
                <div class="register_place">
                    <p>
                        <input type="text" id="r_login" name="login" placeholder="Придумайте логин" required>
                    </p><br>
                    <p>
                        <input type="password" id="r_password1" name="password" placeholder="Придумайте пароль" required>
                    </p><br>
                    <p>
                        <input type="password" id="r_password2" placeholder="Повторите пароль" required>
                    </p><br>
                    <p>
                        <input type="email" id="r_email" name="email" placeholder="Введите адрес электронной почты" required>
                    </p><br>
                    <p>
                        <input type="text" id="r_person" name="person" placeholder="Укажите контактное лицо">
                    </p><br>
                    <p>
                        <input type="text" id="r_company" name="company" placeholder="Укажите название организации">
                    </p><br><br>
                    <button type="submit" id="registerButton">Создать аккаунт</button>
                </div>
            </form>                    
            <br><br><br><br>
            <p>Если у вас есть аккаунт, то <a th:href="@{/login}">авторизуйтесь</a>.</p>
        </div>
    </div>
    <script src="js/register.js"></script>
</body>
</html>