<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="register">
        <div class="register_content">
            <a id="register_logo" th:href="@{/}"><img src="images/logo.png" alt="logo_image"></a><br><br>
            <h2>Регистрация:</h2>
            <br>
            <form action="/register" method="post">
                <p>
                    <label for="r_login">Логин:</label>
                    <input type="text" id="r_login" name="login" required>
                </p><br>
                <p>
                    <label for="r_password1">Пароль:</label>
                    <input type="password" id="r_password1" name="password" required>
                </p><br>
                <p>
                    <label for="r_password2">Повторите пароль:</label>
                    <input type="password" id="r_password2" required>
                </p><br>
                <p>
                    <label for="r_email">Адрес электронной почты:</label>
                    <input type="email" id="r_email" name="email" required>
                </p><br>
                <p>
                    <label for="r_person">Контактное лицо: </label>
                    <input type="text" id="r_person" name="person">
                </p><br>
                <p>
                    <label for="r_company">Название организации: </label>
                    <input type="text" id="r_company" name="company">
                </p><br><br>
                <button type="submit" id="registerButton">Создать аккаунт</button>
            </form>                    
            <br><br><br><br>
            <p>Если у вас есть аккаунт, то <a th:href="@{/login}">авторизуйтесь</a>.</p>
        </div>
    </div>
    <script src="js/register.js"></script>
</body>
</html>